@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  overflow: scroll;
  background: rgb(152, 250, 168, 1);
}

.wrapper {
  position: relative;
  width: 21.88rem;
  min-height: 18.25rem;
  padding: 1.25rem;
  margin: 9.375rem auto;
  border-radius: 0.625rem;
  background: #fff;
  color: #fff;
}

.add-form > div {
  display: flex;
  justify-content: space-around;
}

.add-input {
  width: calc(100% - 115px);
  height: 1.75rem;
  padding: 0.1875rem 0.625rem;
  line-height: 1.75rem;
  border: 0.0625rem solid rgb(194, 190, 190);
  border-radius: 0.9375rem;
  font-size: 0.9375rem;
}

.add-input:focus{
  border: 0.0625rem solid #4fc08d;
  outline: none;
}

.add-input[required = false]{
  border: 0.0625rem solid red;
}

input:hover {
  outline: none;
}

.add-btn {
  padding: 0.5rem 1.25rem;
  border: 0.0625rem solid #4fc08d;
  border-radius: 0.9375rem;
  color: #4fc08d;
}

.todo-list__all li,
.todo-list__complete li,
.todo-list__incomplete li {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 1.125rem 1.563rem 1.125rem;
  font-size: 1rem;
}

.todo-list__all li:first-child,
.todo-list__complete li:first-child,
.todo-list__incomplete li:first-child {
  margin-top: 1.25rem;
}

.todo-list__all li:last-child,
.todo-list__complete li:last-child,
.todo-list__incomplete li:last-child {
  margin-bottom: 3.25rem;
}

li.todo-incomplete label {
  color: #4fc08d;
}

li.todo-incomplete label:hover {
  text-decoration: underline;
}

li.todo-complete label {
  color: lightgreen;
}

li.todo-complete label:hover {
  text-decoration: underline;
}

li input[type="checkbox"]{
  position: absolute;
  top: 0.25rem;
  left: 0;
  width: 0.9375rem;
  height: 0.9375rem;
  line-height: 0.9375rem;
}

li input[type="checkbox"] + label{
  display: inline-block;
  position: relative;
  padding: 0.1875rem 0 0.1875rem 1.875rem;
  line-height: 0.9375rem;
}

li input[type="checkbox"] + label::before{
  display: inline-block;
  position: absolute;
  top: 0.1875rem;
  left: -0.0625rem;
  width: 0.9375rem;
  height: 0.9375rem;
  padding-left: 0.0625rem;
  line-height: 0.9375rem;
  border: 0.0625rem solid #4fc08d;
  border-radius: 0.125rem;
  background: #fff;
  content: "";
} 

li input[type="checkbox"]:checked + label::before{
  font-size: 1.063rem;
  line-height: 1.063rem;
  text-align: center;
  font-weight: 800;
  background: #4fc08d;
  color: #fff;
  content: "\2713";
}

li button {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border: 1px solid #4fc08d;
  border-radius: 50%;
  font-size: 0.8125rem;
  text-align: center;
  color: #4fc08d;
  cursor: pointer;
}

li button.deleBtn:hover {
  background: #4fc08d;
  color: #fff;
}

li button.checkBtn {
  color: lightgreen;
  border: 0.0625rem solid lightgreen;
}

li button.checkBtn:hover {
  background: lightgreen;
  color: #fff;
}

.btn-group {
  position: absolute;
  bottom: 0.625rem;
  display: flex;
  justify-content: space-around;
}

.btn-group button {
  margin-left: 0.625rem;
  padding: 0.5rem 1.5rem;
  border: 0.0625rem solid #4fc08d;
  border-radius: 0.9375rem;
  color: #4fc08d;
}

.btn-group button:first-child {
  margin-left: 0;
}

button:hover,
button:focus {
  background: #4fc08d;
  color: #fff;
}

i{
  pointer-events: none;
}